#about.inner-container
  .entry-tag(style="border-color: #00708f")

    img(src='/lib/about/images/question.svg', style="fill: white;")

    svg(viewbox='0 0 126 144', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:sketch='http://www.bohemiancoding.com/sketch/ns').hexagon
      title Hexagon
      description Created with Sketch (http://www.bohemiancoding.com/sketch)
      g#Page-1(fill='none', fill-rule='evenodd', sketch:type='MSPage')
        polygon#Polygon-1(d='M63,0 L125.353829,36 L125.353829,108 L63,144 L0.646170928,108 L0.646170928,36 L63,0 Z M63,0', fill='#00708f', sketch:type='MSShapeGroup', points='63 0 125.353829 36 125.353829 108 63 144 0.646170928 108 0.646170928 36 ')

    span(style="color: black") DEMOS
  img.cover(src='lib/about/images/cover.png')
  h1=t('about.title.1')
  p=t('about.paragraph.1.1')
  p!=t('about.paragraph.1.2')
  p=t('about.paragraph.1.3')
  p=t('about.paragraph.1.4')
  h2=t('about.title.2')
  p=t('about.paragraph.2.1')
  h3=t('about.title.3')
  p!=t('about.paragraph.3.1')
