- var nothings = law.nothings || []
- var littles = law.littles || []
- var somewhats = law.somewhats || []
- var verys = law.verys || []
- var census = nothings.concat(littles).concat(somewhats).concat(verys)

- var scored = citizen.id && ~census.indexOf(citizen.id)

#bill-proposal-demo-show
  article.bill-proposal
    h1=t('global.title')
    .main-content
      h2(style='background-color: #{law.backgroundColor}; color: #{law.fontColor}')=law.mediaTitle

      .author-wrapper
        .author
          a(href='#{law.authorUrl}', target='_blank')
            img(src=law.authorPictureUrl)
          p
            span=t('admin-laws-form.label.author') + ': '
            a(href=law.authorUrl, target='_blank')=law.author
          p
            span=t('admin-laws-form.label.party') + ': '
            a(href=law.partyUrl, target='_blank')=law.party

      - if (law.picture)
        .pic(style="background-image: url(#{law.picture})")
          span

      p.desc=law.summary

      a.link(href=law.source, target='_blank')=t('View the original text')

    .actions
      .score-selector
        .scored.text-center(class=!scored ? 'hide' : '')
          - var title = ''
          - if (~nothings.indexOf(citizen.id))
            - var title = 'scoring.value.nothing'
          - if (~littles.indexOf(citizen.id))
            - var title = 'scoring.value.little'
          - if (~somewhats.indexOf(citizen.id))
            - var title = 'scoring.value.somewhat'
          - if (~verys.indexOf(citizen.id))
            - var title = 'scoring.value.very'
          h2.title!=t(title)
          a.change-score.btn.btn-info(href='#')=t('scoring.options.change-score')
        .scores(class=scored ? 'hide' : '')
          h2=t('scoring.options.title')
          ul
            li.score.score-nothing
              span=t('scoring.options.nothing')
            li.score.score-little
              span=t('scoring.options.little')
            li.score.score-somewhat
              span=t('scoring.options.somewhat')
            li.score.score-very
              span=t('scoring.options.very')

      - if (previousLaw)
        .prev
          span=t('common.back')
      - if (nextLaw)
        .next
          span=t('common.skip')