#bill-proposal-demo-show
  article.bill-proposal
    .main-content
      h1(style='background-color: #{law.backgroundColor}; color: #{law.fontColor}')=law.mediaTitle

      .author-wrapper
        .author
          img(src=law.authorPictureUrl)
          p
            span=t('admin-laws-form.label.author') + ': '
            a(href=law.authorUrl, target='_blank')=law.author
          p
            span=t('admin-laws-form.label.party') + ': '
            a(href=law.partyUrl, target='_blank')=law.party

      .pic(style="background-image: url(#{law.picture})")
        span

      p.desc=law.summary

      a.link(href=law.source, target='_blank')=t('View the original text')

    .actions
      .vote-selector
        h2=t('voting.options.title')
        ul
          li
            span=t('voting.options.nothing')
          li
            span=t('voting.options.little')
          li
            span=t('voting.options.somewhat')
          li.active
            span=t('voting.options.very')

      - if (previousLaw)
        .prev
          span=t('common.back')
      - if (nextLaw)
        .next
          span=t('common.skip')